* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-top: 50px;
  background-color: #f4f4f4;
}

.container {
  background: #ffff;
  padding: 2rem;
  border-radius: 8px;
  display: inline-block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

h1 {
  font-size: 4rem;
  color: #333;
  margin-bottom: 1rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

button {
  background-color: #00e5ff;
  font-size: 2rem;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #00bcd4;
}

.input {
  font-size: 1rem;
  padding: 0.5rem;
  width: 120px;
  margin-top: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.reset {
  display: block;
  margin: 1rem auto 0;
  font-size: 1rem;
  width: 100px;
  height: 40px;
  background: #ff4081;
  color: white;
}
